<section class="seccion">
    <h1>Listado de Pokemon</h1>
    <div class="row">
        <div class="column">
            <form role="search" id="form">
                <button (click)="getByIdPokemons()">
                <svg viewBox="0 0 1024 1024">
                  <path class="path1"
                    d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z">
                  </path>
                </svg>
              </button>
                <input type="number" id="query" name="q" placeholder="Buscar" [(ngModel)]='search' aria-label="Search through site content">
            </form>
        </div>
        <div class="column column2">
            <button class="btn" (click)="pokemonAdd()"><i class="fa fa-plus"></i> Nuevo</button>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Ataque</th>
                <th>Defensa</th>
                <th>Acciones</th>
            </tr>
            <tr *ngFor="let pokemon of pokemons">
                <td>{{pokemon.id}}</td>
                <td>{{pokemon.name}}</td>
                <td><img src="{{pokemon.image}}" alt="{{pokemon.name}}"></td>
                <td>{{pokemon.attack}}</td>
                <td>{{pokemon.defense}}</td>
                <td>
                    <div class="row">
                        <div class="column" style="text-align: right">
                            <button class="iconbtn" (click)="pokemonEdit(pokemon.id)"><i class="fa fa-edit"></i></button>
                        </div>
                        <div class="column column2" style="text-align: left">
                            <button class="iconbtn2" (click)="pokemonDelete(pokemon.id)"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </td>
            </tr>
            <p>Total Registros: {{count}}</p>
        </table>
    </div>
</section>